@use "../../sass/abstract" as *;

.item-card-wrapper {
    width: 239px;

    .item-img {
        width: 100%;
        height: 325px;
        position: relative;
        @include marginBottom(24px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .heart-icon {
            position: absolute;

            top: 16px;
            right: 16px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .heart-icon.red {
            color: $red;
        }

        .heart-icon.transparent {
            color: white;
        }

        &:hover .view {
            opacity: 1;
        }
    }

    .view {
        background-color: $purple;
        color: white;
        @include flexContainer(row, center, center);
        @include padding(12px);
        font-size: 1.25rem;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    .item-info {
        @include flexContainer(column, flex-start, flex-start);
        gap: 12px;
    }

    .old-price {
        color: rgba(0, 0, 0, 0.4);
        text-decoration: line-through;
        text-decoration-color: rgba(0, 0, 0, 0.2);
    }

    .new-price {
        color: $voilet;
    }

    .rating-wrapper {
        @include flexContainer(row, center, center);
        gap: 6px
    }

    .filled {
        color: $yellow;
    }

    .total-rating {
        font-size: 0.875rem;
    }
}