.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-wrap {
    flex-wrap: wrap;
}

.font-bold {
    font-weight: 600;
}

.font-semi-bold {
    font-weight: 500;
}

.font-light {
    font-weight: 300;
}