@use '../../sass/abstract' as *;

.search-container {
    width: 100%;
    max-width: 900px;
    position: relative;

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
        font-size: 2rem;
        color: gray;
    }

    input {
        width: 100%;
        border-radius: 20px;
        padding: 20px 40px;
        font-size: 1.5rem;

        @include xxl {
            height: 83px;
            font-size: 2rem;

        }

        height: 65px;

    }
}