@use '../../sass/abstract' as *;

.search-container {
    width: 100%;
    max-width: 900px;
    @include marginTop(100px);

    input {
        width: 100%;
        border-radius: 20px;
        padding: 20px 40px;
        font-size: 1.5rem;

        @include xxl {
            height: 83px;
            font-size: 2rem;

        }

        height: 65px;

    }
}