@use "../../sass/abstract" as *;

.filters-container {
    width: 269px;
    @include flexContainer(column, flex-start, flex-start);
    gap: 20px;

    .divider {
        width: 250px;
        height: 0.5px;
        background-color: rgba(0, 0, 0, 0.2);

    }
}